body {
    min-height: 2000px;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 90px;
    width: inherit;
    max-width: 90%;
    color: var(--white);
    padding-top: 8px;
    position: absolute;
    top: 0;
    user-select: none;
    z-index: 1;
}

.header-brand {
    height: 100%;
    display: flex;
    align-items: center;
    margin-right: 42px;
    cursor: pointer;
}

.header-icon {
    color: var(--primary);
    margin-right: 8px;
}

.header-brand img {
    height: 120%;
}

.header-brand-name {
    color: var(--primary);
    font-weight: 700;
    font-size: 3.5rem;
    font-style: italic;
}

.header-nav {
    flex: 1;
}

.navbar-list {
    display: flex;
    justify-content: space-around;
}
.navbar-item {
    position: relative;
    cursor: pointer;
    padding: 10px 12px;

    &:hover span {
        color: var(--primary);
    }

    &:hover .subnav {
        display: flex;
    }

    &::after {
        content: '';
        display: block;
        width: 100%;
        position: absolute;
        height: 32px;
        bottom: -14px;
        right: 0;
        background-color: transparent;
    }
}

.navbar-item span {
    text-transform: uppercase;
}

.navbar-item span {
    transition: color 0.25s ease-in;
}

.subnav {
    position: absolute;
    top: 120%;
    left: 0;
    min-width: 200px;
    max-width: 90vw;
    padding: 24px;
    border-top: 4px solid var(--primary);
    box-shadow: 5.5px 5.5px 6px -7px #ccc;
    display: none;
    animation: fadeIn 0.2s ease-in-out;
    transition: opacity ease-in;
    justify-content: center;
    background-color: var(--white);
    color: var(--black);
}

.subnav-list {
    list-style: square;
    line-height: 2;
}

.subnav-item {
    transition: color 0.2s ease-in;
    &:hover {
        color: var(--primary);
    }
}

.subnav.menu-subnav {
    width: 1360px;
    left: -420px;
}

.subnav-product-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 40px;
    width: 80%;
}

.subnav-product-item {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 30%;
    padding: 20px 0;

    &:hover {
        background-color: #fdf5ee;
    }
}

.subnav-product-img {
    width: 35%;
}

.subnav-product-price {
    color: var(--primary);
}

.subnav-nav-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style-type: square;
}

.subnav-nav-item {
    line-height: 2.4;
    transition: color 0.2s ease-in;

    &:hover {
        color: var(--primary);
    }
}

.header-actions {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
